*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

html,body {
    background: url('https://www.alphaclick.in/wp-content/uploads/2019/06/web-design-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 40px;
}

  /* These rules take effect when the browser's width
  is either 768px or less. */ 
@media screen and (max-width: 768px)
{
   .img-size{
        
       margin: 5px 0px 0px 5px;
   }
}

/* @media screen and (max-width: 576px) {
  
    
    
 }  */
