


.nav{
    display: flex;
    justify-content: space-between;
}



 
 .bg-color{
     background-color:teal;
     
     font-weight: bold;

    
 }
 
 h1{
     color:teal;
     font-weight: bold;
 }



.container{
    
    margin-left: 0px;
    padding: 30px;

}

/* .card-body{
    background-color: white;
    height: 400px;
    width: 400px;
} */



